# Data files
*.csv
*.xlsx

# Model binaries and checkpoints
*.joblib
*.pkl
*.h5
*.pt

# Local configurations
.vscode/
.ipynb_checkpoints/
__pycache__/

# Editor & Language Server configs
.vscode/
*.vscode.json
pyrightconfig.json